$hls-window-background-color: rgb(76, 88, 68);
$hls-window-white-text-color: rgb(250, 250, 250);
$hls-window-bleak-text-color: rgb(184, 196, 176);
$hls-window-background-dark-color: rgb(61, 70, 53);
$window-border-color-main : rgb(133, 145, 125);
$window-border-color-outer : rgb(133, 145, 125) rgb(33, 45, 25) rgb(33, 45, 25) rgb(133, 145, 125);
$window-border-color-inner : rgb(33, 45, 25) rgb(133, 145, 125) rgb(133, 145, 125) rgb(33, 45, 25);
$window-content-header-text-color: #c2c5a4