@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('opentype');
}

html * {
  /* cursor: none; */
  /*background-color: #333; */
  /* transition-duration: 500ms; */
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Source Code Pro";
  font-smooth: never;
  -webkit-font-smoothing: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.root-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-link {
  font-weight: 400;
  font-size: xx-large;
  text-decoration: none;
  font-weight: 500;
  font-size: min(12vw, 36px);
  letter-spacing: -0.065em;
  color: beige;
}

.page-link:hover {
  color: white;
}