$scale: 1;

.loader {
  color: #FFF;
  display: inline-block;
  position: relative;
  font-size: 48px * $scale;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  &::after {
    content: '';
    width: 5px * $scale;
    height: 5px * $scale;
    background: currentColor;
    position: absolute;
    bottom: 10px * $scale;
    right: -7px * $scale;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
}

@keyframes animloader {
  0% {
    box-shadow: 10px * $scale 0 rgba(255, 255, 255, 0), 20px * $scale 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 10px * $scale 0 white, 20px * $scale 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 10px * $scale 0 white, 20px * $scale 0 white;
  }
}