.main-page {
    position: fixed;
    height: 100%;
    width: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0;
        //z-index: 2;
    }

    100% {
        opacity: 1;
        //z-index: 0;
    }
}

.name-header {
    position: relative;
    width: max-content;
    height: max-content;
    top: 40%;
    left: 5%;
    margin-bottom: 1%;
    z-index: 1;
    font-size: clamp(30px, 10vmin, 100px);
    transition: 0.25s;
    animation: 1s fadein;
    mix-blend-mode: difference;
    user-select: none;
}

.text-button-container {
    position: relative;
    width: max-content;
    height: max-content;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-size: clamp(20px, 8vmin, 50px);
    transition: 0.25s;
    animation: 1s fadein;
    mix-blend-mode: difference;
}