@import 'styles/colors';
@import 'styles/mixins';

.cv {
    &-container {
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        row-gap: 5px;
        column-gap: 10px;
        margin: 5px;
        margin-right: 10px;
        width: auto;
    }

    &-box {
        background-color: $hls-window-background-dark-color;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include hl-border-inner();
        color: $hls-window-white-text-color;
        white-space: pre-wrap;
        grid-column: 1 / -1;

        .contacts-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }

        span {
            margin: 5px
        }

        a {
            margin: 5px;
            font-weight: bold;
            color: $window-content-header-text-color;
        }

        &.avatar {
            justify-content: center;
            grid-column: 1 / 2;
        }

        &.bio {
            grid-column: 2 / -1;

        }

        &.experience {
            grid-column: 1 / -1;

        }

        &.stack {
            grid-column: 1 / -1;

        }

        div.milestone {
            display: flex;
            flex-direction: column;

            a {
                font-weight: normal;
            }

            ul {
                list-style-type: square;
            }
        }

        div.stack-tech {
            div.stack-tech strong {
                font-style: italic;
            }
            ul {
                list-style-type: square;
                margin: auto;
            }

            ul ul:has(li.stack-string) {
                list-style: none;
                display: ruby-base-container;
                ::after {
                    content: ", ";
                }
                :first-child::before {
                    content: ": ";
                }
                :last-child::after {
                    content: "";
                }
            }
        }
    }
}